[Unit]
Description=OVH::Bastion master-slave synchronization daemon
After=local-fs.target
# A few safeguards to ensure that, if /home is encrypted,
# it's properly unlocked before we attempt to start
ConditionPathIsDirectory=/home/allowkeeper
ConditionPathIsDirectory=/home/keykeeper
ConditionPathIsDirectory=/home/logkeeper
ConditionPathExists=/home/allowkeeper/healthcheck/allowed.ip

[Service]
ExecStart=/opt/bastion/bin/admin/osh-sync-watcher.sh
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
