[Unit]
Description=OVH::Bastion SSH banner seal service
After=local-fs.target
# Don't attempt to symlink if our sources don't exist
ConditionPathExists=/etc/ssh/banner.sealed
ConditionPathExists=/etc/ssh/banner.ok

[Service]
Type=oneshot
ExecStart=/bin/ln -sf /etc/ssh/banner.sealed /etc/ssh/banner
RemainAfterExit=true
ExecStop=/bin/ln -sf /etc/ssh/banner.ok /etc/ssh/banner
StandardOutput=journal

[Install]
WantedBy=multi-user.target
