- /home/oldkeeper/
- /home/logkeeper/
- /home/.*/
- /home/backup*/
- /home/admin/
- /home/bastionsync/
- /home/lost+found/
- /home/allowkeeper/activeLogin.json
- /home/allowkeeper/maintenance

+ /

+ /etc/
+ /etc/passwd
+ /etc/group
+ /etc/shadow
+ /etc/gshadow
+ /etc/sudoers.d/
+ /etc/sudoers.d/osh-*
+ /etc/bastion/
+ /etc/bastion/mfa-token.conf
+ /etc/ssh/
+ /etc/ssh/ssh_host_*_key
+ /etc/ssh/ssh_host_*_key.pub
+ /etc/ssh/sshd_config.forward.d/
+ /etc/ssh/sshd_config.forward.d/*.conf
- /etc/**

+ /home/

+ /home/*/ttyrec/
- /home/*/ttyrec/**
- /home/*/.bash*
- /home/*/*.db
- /home/*/*.sqlite
- /home/*/*.sqlite-*
- /home/*/*.log
- /home/*/*.gz
- /home/*/lastlog
- /home/*/tmp/
- /home/*/.ssh/known_hosts

+ /home/*/***

- *
